/**************************************************************************/
/**************************************************************************/
/*********************** full-size monitor Starts here!! ******************/
/**************************************************************************/
/**************************************************************************/

@media only screen and (max-width: 980px) {
    .pic {
        width: 100%;
        height: auto;
        vertical-align: text-bottom;
    }
}
/**************************************************************************/
/**************************************************************************/
/*********************** iPad Starts here!! *******************************/
/**************************************************************************/
/**************************************************************************/

@media only screen and (max-width: 768px) {
    .pic {
        width: 50%;
        height: auto;
        vertical-align: text-bottom;
    }
}
/**************************************************************************/
/**************************************************************************/
/*********************** mobile devices Starts here!! *********************/
/**************************************************************************/
/**************************************************************************/

@media only screen and (max-width: 640px) {
    .navbar-brand {
        display: none;
    }
    .pic {
        width: 50%;
        height: auto;
        vertical-align: text-bottom;
    }
}
